:root {
  --rt-color-white: #fff;
  --rt-color-dark: #222;
  --rt-color-success: #8dc572;
  --rt-color-error: #be6464;
  --rt-color-warning: #f0ad4e;
  --rt-color-info: #337ab7;
  --rt-opacity: 0.9;
  --rt-transition-show-delay: 0.15s;
  --rt-transition-closing-delay: 0.15s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }
  -webkit-scrollbar-track {
    background-color: transparent;
  }
  -webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 20px;
  }
  scrollbar-color: #2d303b transparent;
  scrollbar-width: thin;
  scrollbar-gutter: none;
}
body {
  font-size: 12px;
  background-color: #090e09;
  position: relative;
}

/* reacttour */

.reactour__helper {
  background-color: #5c6170 !important;
  color: white !important;
  font-family: 'Rubik';
  padding: 2em !important;
  width: 40vw;
  border: none !important;
}

.reactour__helper button {
  color: white !important;
}

.reactour__helper button:hover {
  color: rgb(172, 172, 172) !important;
}

.reactour__close {
  color: white !important;
  top: 15px !important;
  right: 15px !important;
}

.reactour__close:hover {
  color: #191c24 !important;
}

[data-tut='right-arrow'] {
  color: white !important;
}

[data-tut='left-arrow'] {
  color: white !important;
}
